body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #000;
  color: #fff;
}

.hero {
  background-image: url ('hero-bg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

h1 {
  font-size: 3rem;
  color: white;
  margin-bottom: 10px;
}

p {
  color: #ccc;
  font-size: 1.2rem;
}