body {
  margin: 0;
  background-color: #000;
  color: #f9f9f9;
  font-family: "Poppins", sans-serif;
}

header, footer {
  text-align: center;
  padding: 1rem;
}

a {
  color: gold;
  text-decoration: none;
}

button {
  background-color: gold;
  color: black;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
}
